@import url("https://fonts.googleapis.com/css2?family=Anton&family=Fjalla+One&family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

* {
  height: auto;
  /* border-radius: 15px; */
  background-color: black;
  margin: 0;
  color: white;
  font-size: 35px;
  /* min-width: 1200px; */
  text-decoration: none;
  /* width: 100vw; */
}

header {
  height: 100px;
}

.nav {
  list-style-type: none; /* no bullet in list */
  /* background-color: black; */
  height: 80%;
  /* width: auto; */
  /* width: 100vw; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 1% 40px;
  gap: 0 10px;
}

.nav li {
  width: fit-content;
  min-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav li a {
  /* better to put font setting in <a> directly */
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav li a:hover {
  color: red;
}

.content {
  /* width: 500px; */
  width: 45%;
}

.content-greet {
  /* padding: 10px; */
  padding: 1% 40px;
  font-size: 1.2rem;
  /* color: yellow; */
}

.content-introduction {
  /* width: 1rem; */
  padding: 1% 40px;
  font-size: 0.6rem;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

.content-introduction .content-name {
  margin: 0;
  padding: 0;
  font-size: 0.6rem;
  transition: color 0.3s ease;
}

.content-introduction .content-name:hover {
  color: red;
}

.content-introduction .content-certificate {
  text-decoration: none;
  font-size: 0.6rem;
  /* color: green; */
  margin: 0;
  padding: 0;
  transition: color 0.3s ease;
}

.content-introduction .content-certificate:hover {
  color: green;
}

/* add to skills stated in intro */
.content-introduction .content-skills {
  margin: 0;
  padding: 0;
  font-size: 0.6rem;
  transition: color 0.3s ease;
}

.content-introduction .content-skills:hover {
  color: blue;
}

.footer {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  font-size: 10px;
  color: red;
  text-decoration: none; /*this apply direct to text, eg: 
  underline*/
  padding: 1% 40px;
  display: flex;
  justify-content: space-between;
}

.footer .footer-note {
  font-size: 0.5rem;
}

.footer .footer-link {
}

.footer .footer-link ul {
  list-style-type: none;
  display: flex; /*so the <li> will stay inline by default*/
  gap: 0 10px;
}

.footer .footer-link ul li {
  font-size: 0.5rem;
}

@media (max-width: 800px) {
  .content {
    width: 100%;
  }
}
